* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 20px;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6.5pt;
  width: 100%;
}

.container {
  border: 1px solid rgb(128, 128, 128);
  width: 70%;
  margin: 0 auto;
  padding: 10px 60px 30px 60px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-upper {
  text-transform: uppercase;
}

.p-bold {
  font-weight: bold;
}

#footer hr {
  margin-bottom: 0 !important;
  border-top: 1px solid #333333;
}
#footer .footer-content {
  color: rgb(128, 128, 128);
}

#header hr {
  border-top: 1px solid #333333;
  margin-top: 10px !important;
}
#header .logo-content {
  background-color: #F9F400 !important;
  padding: 10px 20px;
  border: 3px solid #1b1b00;
  display: inline-block;
}
#header .w-70 {
  width: 70%;
}
#header .w-30 {
  width: 30%;
}
#header .w-30 .company-infor {
  height: 20px;
  line-height: 20px;
}

.fax-infor {
  line-height: 20px;
  width: 100%;
}
.fax-infor table {
  width: 100%;
}
.fax-infor table tr td:first-child {
  width: 60% !important;
}
.fax-infor table tr td:nth-child(2) {
  width: 10% !important;
}
.fax-infor table tr td:nth-child(3) {
  width: 30% !important;
}

.total-price {
  margin-top: 10px;
}
.total-price .price-div {
  min-width: 300px;
  margin: 15px 0 40px auto;
}
.total-price .table-price tr {
  border-bottom: 2px solid #333333;
  border-top: 2px solid #333333;
}
.total-price .table-price td {
  text-align: center;
  vertical-align: middle;
  padding: 0 !important;
}

.list-product-table {
  margin-top: 20px;
}
.list-product-table tr td {
  border-top-style: solid;
  border-top-width: 1pt;
  border-left-style: solid;
  border-left-width: 1pt;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-right-style: solid;
  border-right-width: 1pt;
}
.list-product-table tr:first-child td {
  background-color: #E7E6E6;
}

.list-product-table tr {
  height: 40px;
}

.text-center {
  text-align: center;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}